/* globals.css */
body {
  background-color: #f8f9fa; /* Light gray background */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

/* Override Bootstrap button color */
.btn-primary {
  background-color: #0070f3;
  border-color: #0070f3;
}
.btn-primary:hover {
  background-color: #005bb5;
  border-color: #005bb5;
}

